<div class="d-flex">

    <div class="card card-x card-table">
        <div class="card-header">
            <div class="row">
                <div class="col-4">
                    <h3>Projects</h3>
                </div>
                <div class="col-8">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn btn-32 btn-secondary" data-toggle="modal"
                                data-target="#projectCreateModal"><i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <table
                    class="table table-border"
                    id="projects-list"
                    data-toggle="table"
                    data-unique-id="id"
                    data-pagination="false"
                    :data-url="build_api_url('admin', 'projects')"
            >
                <thead class="thead-light">
                <tr>
                    <th data-visible="true" data-field="id">ID</th>
                    <th scope="col" data-sortable="true" data-cell-style="nameStyle" data-field="name">Name</th>
                    <th scope="col" data-align="right" data-cell-style="cellStyle"
                        data-formatter="projectActionFormatter">Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <br>
        </div>
    </div>

</div>

<div class="modal modal-small fixed-left fade shadow-sm" tabindex="-1" role="dialog" id="projectCreateModal">
    <div class="modal-dialog modal-dialog-aside" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="row w-100">
                    <div class="col">
                        <h2>Create project</h2>
                    </div>
                    <div class="col-xs">
                        <button type="button" class="btn  btn-secondary" data-dismiss="modal" aria-label="Close">
                            Cancel
                        </button>
                        &nbsp;
                        <button type="button" id="project_submit" class="btn btn-basic">Create</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row">
                        <div class="form-group col">
                            <p class="font-h5 font-semibold">Project Name</p>
                            <p class="font-h6 font-weight-400 mb-1">Enter project name</p>
                            <input type="text" id="name" class="form-control form-control-alternative"
                                   placeholder="Project Name">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col">
                            <p class="font-h5 font-semibold">Assign project admin</p>
                            <p class="font-h6 font-weight-400 mb-1">Enter email</p>
                            <input type="text" id="project_admin_email" class="form-control form-control-alternative"
                                   placeholder="Email">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>

                    {{ template_slot('administration_email_invitation_content') | safe }}

                    <div>
                        <p class="font-h5 font-semibold mb-1">Select plugins for project</p>
                        <Multiselect-Dropdown
                            @register="register"
                            placeholder="Select Plugins"
                            instance_name="plugin_selector"
                            container_class="bootstrap-select__b displacement-left-4"
                            :list_items='["configuration", "performance", "security"]'
                            :pre_selected_indexes='[0, 1]'
                            v-model="custom_data.plugins"
                            :has-search="true"
                        ></Multiselect-Dropdown>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
