<script src="{{ url_for('admin.static', filename='js/Roles/utils/tableFormatters.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/api/rolesAPI.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/Roles/RolesModalCreate.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/Roles/RolesModalConfirm.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/Roles/RolesTable.js') }}"></script>

<script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
<script defer  src="https://unpkg.com/bootstrap-table@1.21.3/dist/extensions/fixed-columns/bootstrap-table-fixed-columns.min.js"></script>