<div class="container-fluid">

  <div class="card mt-3 card-table-sm">
    <div class="card-header">
      <div class="row">
        <div class="col-4">
          <h4>Bulk projects</h4>
        </div>
        <div class="col-8">
        </div>
      </div> <!-- row -->
    </div>
    <div class="card-body">

      <div class="row p-3">
        <div class="col-8">
          <div class="d-flex">
            <h5 class="mr-3">User ID</h5>
            <input type="text" id="input-user-id" class="form-control form-control-alternative">
          </div>
          <div class="d-flex">
            <h5 class="mr-3">Roles</h5>
            <input type="text" id="input-roles" class="form-control form-control-alternative">
          </div>
        </div>
        <div class="col-4">
          <div class="d-flex justify-content-end">
            <button id="btn-add-user-to-selected" type="button" class="btn btn-secondary btn-sm mr-2">
              <i class="fas fa-arrow-circle-down"></i> &nbsp; Add user to selected projects
            </button>
          </div>
        </div>
      </div> <!-- row -->
      <div class="row p-3 m-3">
        <h5 class="mr-3">Projects</h5>
        <table class="table table-borderless"
            id="table"
            data-toggle="table"
            :data-url="build_api_url('admin', 'projects')"
            data-unique-id="id"
            data-pagination="false"
          >
            <thead class="thead-light">
                <tr>
                    <th scope="col" data-field="state" data-checkbox="true"></th>
                    <th scope="col" data-field="id" data-sortable="true" data-visible="true">ID</th>
                    <th scope="col" data-field="name" data-sortable="true">Name</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div> <!-- row -->
      <div class="row p-3 m-3">
        <h5 class="mr-3">Logs</h5>
        <textarea class="col" rows="15" id="textarea-logs" readonly></textarea>
      </div> <!-- row -->

    </div>
  </div>

</div>


<script src="{{ url_for('admin.static', filename='js/vendor/jquery.serialize-object.min.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/vendor/axios.min.js') }}"></script>

<script>
  var invites_bulkprojects_api_url = "{{ tools.context.url_prefix }}/api/v1/admin/invites_bulkprojects/administration";
</script>

<script src="{{ url_for('admin.static', filename='js/invites_bulkprojects.js') }}"></script>
