<div class="container-fluid">

        <div class="card mt-3 card-table-sm">
            <div class="card-header">
                <div class="row">
                    <div class="col-4">
                        <h4>Remote</h4>
                    </div>
                    <div class="col-8">
                        <div class="d-flex justify-content-end">
                            <button id="btn-update" type="button" class="btn btn-secondary btn-sm btn-icon__sm mr-2"><i class="fas fa-arrow-circle-down"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-borderless"
                    id="table"
                    data-toggle="table"
                    data-url="{{ tools.context.url_prefix }}/api/v1/admin/runtime_remote/administration"
                    data-pagination="false"
                    data-click-to-select="true"
                  >

                    <thead class="thead-light">
                        <tr>
                            <th scope="col" data-field="state" data-checkbox="true"></th>
                            <th scope="col" data-sortable="true" data-cell-style="nameStyle" data-field="pylon_id">Pylon</th>
                            <th scope="col" data-sortable="true" data-cell-style="nameStyle" data-field="name">Name</th>
                            <th scope="col" data-sortable="true" data-cell-style="nameStyle" data-field="description">Description</th>
                            <th scope="col" data-sortable="true" data-cell-style="nameStyle" data-field="prepared">Prepared</th>
                            <th scope="col" data-sortable="true" data-cell-style="nameStyle" data-field="activated">Activated</th>
                            <th scope="col" data-sortable="true" data-cell-style="nameStyle" data-field="local_version">Local version</th>
                            <th scope="col" data-sortable="true" data-cell-style="nameStyle" data-field="repo_version">Repo version</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>

</div>



<script src="{{ url_for('admin.static', filename='js/vendor/jquery.serialize-object.min.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/vendor/axios.min.js') }}"></script>

<script>
  var remote_api_url = "{{ tools.context.url_prefix }}/api/v1/admin/runtime_remote/administration";
</script>

<script src="{{ url_for('admin.static', filename='js/runtime_remote.js') }}"></script>
